body{
    background-color: rgb(74, 237, 248);
}
h1{
    text-align:center
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    border-style: solid;
    border-color:darkgrey;
    border-width: thick;
}